<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <button routerLink="/home/orders/create" class="btn btn-primary mb-4">Create New Order</button>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order Number</th>
                        <th scope="col">Customer Name</th>
                        <!-- <th scope="col">Last Name</th> -->
                        <th scope="col">Email</th>
                        <th scope="col">Order Details</th>
                        <th scope="col">Qnty</th>
                        <th scope="col">Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>John</td>
                        <!-- <td>Doe</td> -->
                        <td>jhon@email.com</td>
                        <td>USA</td>
                        <td>123</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <!-- <td>Otto</td> -->
                        <td>mark@email.com</td>
                        <td>UK</td>
                        <td>456</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Jacob</td>
                        <!-- <td>Thornton</td> -->
                        <td>jacob@email.com</td>
                        <td>AU</td>
                        <td>789</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>