<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <button routerLink="/home/users/create" class="btn btn-primary mb-4">Create New User</button>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Active Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jitu Bhai</td>
                        <td>xyz@email.com</td>
                        <td>jitubhai123</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ramesh Bhai</td>
                        <td>xyz@email.com</td>
                        <td>rameshbhai123</td>
                        <td>Inactive</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Suresh Bhai</td>
                        <td>xyz@email.com</td>
                        <td>sureshbhai123</td>
                        <td>Active</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>